build/:
bdist.linux-x86_64
scripts-3.9

dist/:
univention_supportinfo-0.0.1-py3-none-any.whl
univention-supportinfo-0.0.1.tar.gz

univention_supportinfo.egg-info/:
dependency_links.txt
PKG-INFO
SOURCES.txt
top_level.txt
zip-safe
